h4 {
    margin: 0px;
    padding:0px;
}

h3 {
   margin: 0px;
   padding:0px;
}

p {
   margin: 0px;
   padding:0px;
}

a {
    margin: 0px;
    padding:0px;
    font-weight: 600;
	padding: 0.3em;
    text-decoration: none;
    display: inline-block;
	transition: .3s;
	transform: scale(1);
	color: #000;
}
a:hover {
    transform:scale(1.1);
}



.upload_button {
    position: fixed;
    bottom: 0;
    left: 500px;
}

 /* 左サイドバー */
.left {
    float: left;
    width: 200px;
    margin: 0px 20px 0px 5px;
}
.taglist{
    margin : 0px;
    padding: 10px 25px;
    border: solid 1px #CCCCCC;
}

/* 真ん中 */
.center {
    min-width: 600px;
    position: absolute;
    left: 200px;
    border: solid 1px white;
    margin: 0px 10px 10px 20px;
    overflow: visible;
}
.footer{
    clear: both;
    overflow :hidden;
}
div .content {
    margin : 2px;
	padding: 0.1em 0.3em 0em 0.3em;
    border: solid 0px #000;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    min-height: 130px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(200, 200, 200, 1));
    background-position: 0 0;
    background-size: auto 200%;
    transition: .3s;
}
div .content:hover {
    background-position: 0 100%;
}
div .detail {
    min-width: 200px;
    position: absolute;
    left: 200px;
    top: 0px;
    margin: 10px 10px 10px 20px;
    overflow: visible;
}
div .detail h3 a {
    font-weight: 800;
    padding: 0.1em 0.3em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
}
div .detail h3 a:hover {
    background-position: -100% 0;
    color : #fff;
}


/* 両サイドからラインが出る */
.site_title {
    position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
	color: #000;
}
.site_title::before,
.site_title::after {
	position: absolute;
	content: '';
	width: 0;
	height: 1px;
	background-color: #aaaaaa;
	transition: .3s;
}
.site_title::before {
	top: 0;
	left: 0;
}
.site_title::after {
	bottom: 0;
	right: 0;
}
.site_title:hover::before,
.site_title:hover::after {
	width: 100%;
}

/* 説明 */
.description{
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* aタグボタン風 */
.block_button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 11px;   /* 余白       */
  background    : rgba(0, 0, 0, 0.76);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.block_button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

/* aタグボタン風2 */
.light_button {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 16px;   /* 余白       */
  background    : #000000;     /* 背景色     */
  color         : rgba(255, 255, 255, 255);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
}
.light_button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
}

/* Watchページ */
video {
    min-width:320px;
    min-height:240px;
    width: 60%
}